html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}
